
.adjust button{
	width:16;
	height:9;
	position:absolute;
	font-size:7;
	line-height:2px;
	font-family:webdings;
	background-color:white;
	border:silver solid 1;
	}
.date{
	border:1 solid threeddarkshadow　;
	background:buttonface;
	width:150;
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=3);
	}
.datebackground
{
	background:buttonface;
}
.date.date_table{
	padding:2;
	}
.date.date_table.date_time td{
	font-size:9pt;
	}
.date.date_table.date_time{
	width:100%;
	}
.date_body td{
	width:22;
	font-size:9pt;
	text-align:center;
	bacdground:#ffffff;
	}
.date_body{
	border:1 solid gray;
	text-align:center;
	}
.date_body.date_title td{
	background:background;
	color:white;
	}
.date.date_select{
	background:darkblue;
	color:white;
	}
.date.date_mouseover{
	cursor:hand;
	background:gray;
	}
.date.date_today{
	background:white;
	}
.date_button
{
	width:19;
	height:19;
	background: azure;
	font-family:webdings;
	font-size:9;
	border-width:1px;
	position:static;
	top:0;
	left:0;
	line-height: 7px;
}
/*-------------------日期微调输入框input样式---------------------------*/
.dateadjust
{
display:inline;
}
.dateadjust input{
	width:55;
	height:19;
	position:relative;
	left:5;
	text-align:center;
	border:1 solid #8DB1D3;
	}
	/*-------------------日期微调按钮button样式---------------------------*/
.dateadjust button{
	width:17;
	position:absolute;
	font-size:7;
	font-family:webdings;
	text-align:center;
	background: azure;
	border-width:1px;
	border-style:solid;
	border-color:#8DB1D3;
	
	}
/*-------------------月份选择样式---------------------------*/
.month{
	border:1px solid #8DB1D3;
	position:relative;
}
.month select{
	margin-left:-3px;
	margin-top:-2px;
	margin-bottom:-2px;
}
/*-------------------数字微调输入框input样式---------------------------*/
.adjust
{
display:inline;
}
.adjust input{
	width:100%;
	height:22;
	padding-right:17;
	text-align:right;
	}
	/*-------------------数字微调按钮button样式---------------------------*/
