div
{
	scrollbar-3dlight-color:gray;
	scrollbar-arrow-color:black;
	scrollbar-base-color:#cccccc;
	scrollbar-darkshadow-color:white;
	scrollbar-face-color:silver;
	scrollbar-highlight-color:#cccccc;
	scrollbar-shadow-color:gray;
}
.divTiSkin{
	border:1 solid silver;
}
.divTiSkin table
{
	border-collapse:collapse;
	table-layout: fixed;
}
.divTiSkin td
{
	border:1 solid silver;
	padding-top:0px;
	padding-bottom:0px;
	text-align:center;
	font-size: 9pt
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height:20px;
	background:white;
}
.divTiSkin img{

}
.divTiSkin span
{
	width:         100%;
	height:        100%;
	white-space:   nowrap;
	overflow:      hidden;
	text-overflow: ellipsis;
	padding-top:3;

}

.divTiSkin input
{
	background-color:white;
	border:0 solid white;
	text-align:center;
	width:100%;
	height:17px;

}
.focusCss
{
	border:1 solid #6699cc;
}
.lightSkin
{
	background:#A9B2CA;
	text-align:center;
	font-size: 9pt
}
.lightSkin input
{
	background-color:#A9B2CA;
	border:0 solid #3366cc;
	text-align:center;
}
.lightSkin td{
	background-color:#A9B2CA;
	color:white;
}
.divToucss table
{
	border-collapse:collapse;
	table-layout: fixed;
	border-left:1 solid ;
}
.divToucss td
{
	border:1 solid silver;
	font-size: 9pt
	height:21;
	text-align:center;
	vertical-align:top;
	background-color:white;
}
.divToucss span{
	background-color:#E6E6E6;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	filter: Alpha(Opacity=40, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=50);
	border-color: #E6E6E6;
	vertical-align:center;
	width:         100%;
	height:        100%;
	white-space:   nowrap;
	padding-top:3;
	color: #000000;
}
.divToucss label{
	margin-left:5;
	font-family:Marlett;
	font-size:8;
}
.divToucss input
{
	color:#000000;
	font-size: 9pt
	border:0px solid #ccddff;
	background-color:#ccddff;
	text-align:center;
}
.divAllcss{
	background:white;
}
.divSumcss
{
padding-left:1;
}

.divSumcss table
{
	border-collapse:collapse;
	table-layout: fixed;
}
.divSumcss td
{
	color:#000000;
	font-size: 9pt
	text-align:center;

	height:21;
	border:1 solid silver;
	background:#f4f4f4;
}
.divSumcss input
{
	color:#000000;
	font-size: 9pt
	border:1 solid background;
	background:buttonface;
	text-align:center;
}
.divSumcss span
{
	border-width: 0px;
	border-style: solid;
	background:#f4f4f4;
	border-color: silver;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left:2;
	padding-top:3;
}
.divLeftCss table
{
	border-collapse:collapse;
	background:#f4f4f4;
}
.divLeftCss td
{
	color:#000000;
	font-size: 9pt
	text-align:right;
	height:20px;
	border:1 solid silver;
	background:#f4f4f4;
}
.divLeftCss span
{
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	background:#f4f4f4;
	border-color: #f4f4f4;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: hand;
	padding-left:2;
	padding-top:3;
}
.selectColCss select
{
	background:white;
	width:100%;
}
.datactrl input{
	height:20;
	width:25;
	font-family:wingdings;
	overflow:	hidden;
	text-align:	center;
	vertical-align:	middle;
	font-size: 9pt
	background:lightskyblue;
	background-image:url(../images/buttonbg.gif);
	border-width: 1px;
	border-style: solid;
	border-color: white steelblue¡¡steelblue¡¡buttonhighlight;
}
.tblsearch input{
	border:1 solid steelblue;
}

.tblsearch td{
	font-size: 9pt
}
.tblsearch select{
	margin:-2;
}
.tdMargin3px {
	WIDTH: 4px
}
.tblList ,.tblHead, .tblHeadline ,.tblWorkArea,.tblFoot{
	border-collapse:collapse;
	}
.tblList td{
	font-size: 9pt
	}
.tdFootRight {
	TEXT-ALIGN: right
}
.tdWorkArea {
	padding:12;
}
.search{
background:#e4e4e4;
border:1 solid silver;
padding:5
}
.search label{
white-space:nowrap;
margin-right:12;
}
input.txtfocus
{
border:1 solid #0066CC;
}