##可以使用的变量$field,$disp
#set ($ref=$field.getMofReference())
	    <html:hidden name="$field.getFormName()" 
#if ($disp.isOutValue()) 
		      property="$field.getFormName()"
#else
	          value=""
#end
#if ($disp.hasChangedField())
		      onchange="${field.getFormName()}_change()"
#end
 		/>
#if ($disp.hasChangedField())
			  $ref.getChangeScript($field,$field.getChangeField())
#end