##可以使用的变量$field,$disp
#set ($ref=$field.getMofReference())
#set ($grid_name="grid_${field.getMofTab().getName()}")
#set ($colWidth=$field.getLength()*7)
		<grid:labelCol property="$field.getFormName()" caption="$field.getDescription()"
			  width="$colWidth" index="$field.indexInGrid()" xml="$field.getFormName()"
			  name="$field.getFormName()" style="width:100%;text-align:left" styleClass="default" 
#if ($disp.isReadOnly())
			  readonly="true" 
#end
			  collection="${field.getFormName()}.Collection" labelProperty="Name" labelKey="ID"
#if ($disp.hasChangedField()&&$disp.isSum())
		      onchange="${field.getFormName()}_change();${grid_name}.CountSum()"
#else
	#if($disp.hasChangedField())
		 onchange="${field.getFormName()}_change()"
	#end#end
#if ($disp.isSum())
			##列合计的脚本
			  sumScript="${grid_name}.setSumFieldValue(0,$field.indexInGrid(),${grid_name}.sum($field.indexInGrid()))"
			  onblur="${grid_name}.CountSum()"
#end
	    />