##可以使用的变量$field,$disp
#set ($ref=$field.getMofReference())
	    <html:multiLabel name="$field.getFormName()" 
#if ($disp.isOutValue()) 
		      property="$field.getFormName()"
#else
	          value=""
#end
	          collection="${field.getFormName()}.Collection"
			  labelProperty="Name" labelKey="ID" 
			  write="true"  delimiter=","
		/>
