##可以使用的变量$field,$disp
#set ($ref=$field.getMofReference())
	    <html:hidden name="$field.getFormName()" 
#if ($disp.isOutValue()) 
		      property="$field.getFormName()"
#else
	          value=""
#end
	         write="true" />
