#foreach ($report in $reportBeans)	
#set($jsppath=$outputDirectory);
$files.mkdir("$jsppath")  
#set($name=$report.bbbh)
	##≤È—Ø
	#set( $path= "report_${name}.jsp");
    $generator.parse($report_vm,$path,"report",$report)
#end







