<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  	<bean id="ComponentFactory" class="net.mast.waf.ComponentFactory">
        </bean>
        
	<!-- ===forward配置===-->
	<bean id="global.forward" class="net.mast.waf.mvc.GlobalForward">
	    <property name="mappings">
			<map>
				<entry key="error">
					<ref bean="global"/>
				</entry>
				<entry key="success">
					<ref bean="global"/>
				</entry>
				<entry key="warn">
					<ref bean="global"/>
				</entry>
			</map>
	    </property>
        </bean>
        
        <bean id="global" class="net.mast.waf.mvc.ServletDispatcherForward">
            <property name="mappings">
            <props>
    	        <prop key="error">jsp/error.jsp</prop>
    	        <prop key="success">jsp/success.jsp</prop>
    	        <prop key="close">jsp/successclose.jsp</prop>
    	        <prop key="msg">jsp/msg.jsp</prop>
            </props>
            </property>
        </bean>

</beans>
