##可以使用的变量$field,$disp,$ref
##暂时不支持的类型
#set ($ref=$field.getMofReference()) 
#if($field.isKey())
    #parse("${standardTemplatePath}/StandardKeyGrid.vm")
#elseif($disp.isHidden())
	#parse("${standardTemplatePath}/StandardHiddenGrid.vm")
#else
	#parse("${standardTemplatePath}/StandardTextGrid.vm")
#end