##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if ($disp.isHidden())
     #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel())
     #parse("${standardTemplatePath}/StandardMultiLabel.vm")
#elseif ($disp.isSearch())
     #parse("${standardTemplatePath}/StandardSelect.vm")
#else
	 <html:checkboxGroup name="$field.getFormName()" 
	#if ($disp.isOutValue()) 
		property="$field.getFormName()"
	#else
	    value=""
    #end
	    collection="${field.getFormName()}.Collection" labelProperty="Name" labelKey="ID"
    #if ($disp.isReadOnly())
		disabled="true"
    #end
    #if (!$disp.isReadOnly()&&$disp.hasChangedField())
		onchange="${field.getFormName()}_change()"
    #end
 		/>
##由于多选框disable后便不会提交，所以添加个隐藏域
    #if ($disp.isReadOnly())
	<html:hidden name="$field.getFormName()" 
	    #if ($disp.isOutValue()) 
		   property="$field.getFormName()"
	    #else
	       value=""
	    #end
	    #if ($disp.hasChangedField())
		   onchange="${field.getFormName()}_change()"
	    #end
 	/>
    #end
    #if ($disp.isMandatory()&&!$disp.isReadOnly())
		<font color="#FF0000">*</font>
    #end
    #if (!$disp.isReadOnly()&&$disp.hasChangedField())
		$ref.getChangeScript($field,$field.getChangeField())
    #end
        $ref.getCustomEvent($field,$ref.hasDisplayTextField())
#end