##可以使用的变量$field,$disp
#set ($ref=$field.getMofReference())
#if($field.isKey())
    #parse("${standardTemplatePath}/StandardKeyGrid.vm")
#elseif($disp.isHidden())
	#parse("${standardTemplatePath}/StandardHiddenGrid.vm")
#else
#set ($grid_name="grid_${field.getMofTab().getName()}")
#set ($colWidth=$field.getLength()*7)
		<grid:textCol property="$field.getFormName()" caption="$field.getDescription()"
			  width="$colWidth" index="$field.indexInGrid()" xml="$field.getFormName()"
			  name="$field.getFormName()" style="width:100%;text-align:right" styleClass="default" 
    #if ($disp.isReadOnly())
			  readonly="true" 
    #end
    #if ($disp.hasChangedField()&&$disp.isSum())
		      onchange="${field.getFormName()}_change();${grid_name}.CountSum()"
    #else
	    #if($disp.hasChangedField())
		 onchange="${field.getFormName()}_change()"
	    #end
    #end
    #if ($disp.isSum())
			##列合计的脚本
			  sumScript="${grid_name}.setSumFieldValue(0,$field.indexInGrid(),${grid_name}.sum($field.indexInGrid()))"
			  onblur="${grid_name}.CountSum()"
    #end
	     />
#end