##可以使用的变量$field,$disp
#set ($ref=$field.getMofReference())
#if($disp.isHidden())
    #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel())
    #parse("${standardTemplatePath}/StandardCollectionLabel.vm")
#elseif ($disp.isSearch() )
    #parse("${standardTemplatePath}/StandardText.vm")
#else
	<html:radioGroup  name="$field.getFormName()" 
    #if ($disp.isOutValue()) 
		 property="$field.getFormName()"
    #else
	     value=""
    #end
         collection="${field.getFormName()}.Collection" labelProperty="Name" labelKey="ID"
    #if ($disp.isReadOnly())
		    disabled="true"
    #end
     />
    #if ($disp.isReadOnly())
    <html:hidden name="$field.getFormName()" 
	    #if ($disp.isOutValue()) 
		 property="$field.getFormName()"
	    #else
	     value=""
	    #end
	    #if ($disp.hasChangedField())
		 onchange="${field.getFormName()}_change()"
	    #end
 	/>
    #end
    #if ($disp.isMandatory())
     <font color="#FF0000">*</font>
	#end
	$ref.getCustomEvent($field,$ref.hasDisplayTextField())
#end