##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if($field.isKey())
    #parse("${standardTemplatePath}/StandardKeyGrid.vm")
#elseif($disp.isHidden())
	#parse("${standardTemplatePath}/StandardHiddenGrid.vm")
#elseif ($disp.isReadOnly())
	#parse("${standardTemplatePath}/StandardTextGrid.vm")
#else
	#set($v_format="yyyy-MM-dd hh:mm")
	#if($field.getVFormat()!="")
		#set($v_format=$field.getVFormat())
	#end
#set ($date_length=($field.getLength())*7)
	<grid:dateCol name="$field.getFormName()" property="$field.getFormName()"
		 caption="$field.getDescription()" width="$date_length"
		 index="$field.indexInGrid()" hastime="true"
		 sourceFormat="$v_format" targetFormat="$v_format" >
	</grid:dateCol>
#end