#set ($pageType="updateGrid")
##给明细Tab也增加边框
#set ($border=1)
#if( $tab.getCurrentTabCount() > 1)
	#set ($border=0)
<fieldset id="fieldset_${tab.Name}" style="padding: 2">
	<legend id="legend_${tab.Name}">${tab.Description}</legend>
#end
##设置此Tab的表单域的总宽度，为绝对值,如果为空则取100%
#set($tab_width =($tab.getWidth()))
#if($tab.getWidth()>0)
	#set($tab_width =($tab.getWidth()))
#else
	#set($tab_width ="100%")
#end

#if($tab.getMaxLine()>0)
	#set ($height=60+20*$tab.getMaxLine())
	<grid:grid name="grid_${tab.Name}" sumRow="true" headCss="divToucss" detailCss="divTiSkin" sumCss="divSumcss" complexHead="false" property="${tab.Name}" type="edit" headHeight="22"  sumHeight="22" width="$tab_width" height="$height">
#else
	<grid:grid name="grid_${tab.Name}" sumRow="true" headCss="divToucss" detailCss="divTiSkin" sumCss="divSumcss" complexHead="false" property="${tab.Name}" type="edit" headHeight="22"  sumHeight="22" width="$tab_width" height="260">
#end	
#foreach( $field in $tab.Fields )
	#set ($disp=$field.getDisplayControl($pageType))
	#if($useRefTemplate)
	#parse(${field.getGridJSPTemplate($pageType)})
	#else
	${field.outUpdateGridJSP()}
	#end
#end
</grid:grid>
##grid标签不能追加iframe，所以在此处添加，所有包含集合的都会输出：应该添加相应的gridCol做特殊处理
#foreach( $field in $tab.Fields )
#if(${field.hasCollection()})
<iframe name="${field.getFormName()}_iframe" id="${field.getFormName()}_iframe src=""  width=0 height=0> </iframe>
#end
#end
<script language="javascript">
	#foreach( $field in $tab.Fields )
		${field.outUpdateGridScript()}
	#end
</script>
#if($window.canUpdate() && $tab.isUpdate()&& $tab.getMaxLine()>=0)
	<table width="$tab_width" cellpadding="0" class="tblContent" style="border:0px solid #000000">	
	 <tr><td align="center">
			<html:button name="${tab.Name}_AddRow" value="增加一行" onclick="do${tab.Name}_AddRow()"/>
			<html:button name="${tab.Name}_DeleteRow" value="删除一行" onclick="do${tab.Name}_DeleteRow()"/>
		</td>
	 </tr>
	</table>
#end
#if( $tab.getCurrentTabCount() > 1)
</fieldset>	
#end
#if($tab.isUpdate()&&$tab.getMaxLine()>=0)
<script language="javascript">
##加载所有的页面事件,并在增加行是也有效
$tab.appendGridEvent()

function do${tab.Name}_AddRow()
{
#if($tab.getMaxLine()>0)
	if (grid_${tab.Name}.returnRowCount()>=$tab.getMaxLine()){
	alert("不能超过最大行数:"+$tab.getMaxLine());
	return;
	}
#end
	grid_${tab.Name}.addRow(); 
	grid_${tab.Name}_doAddRowWebEvent();
	
}
function do${tab.Name}_DeleteRow()
{
	grid_${tab.Name}.delRow();
}
</script>
#end