html{ height:100%;}
body{background-color:#FFFFFF; font-size:12px; margin:0;height:100%; font-family:宋体, Arial, Helvetica, sans-serif;height:100%;}
.bj{ background-image:url(../../images/ntmast/bj.jpg); background-repeat:no-repeat; background-position:center top; }
.text { border:1px solid #fff; background-image:url(../../images/ntmast/001.jpg); height:21px; width:191px; *width:189px; line-height:20px; font-size:14px;}
.password { border:1px solid #fff; background-image:url(../../images/ntmast/001.jpg); height:21px; width:191px; *width:189px; line-height:20px; font-size:14px; margin-top:9px; *margin-top:7px;}
.box { position:absolute;
   margin-top:-209px;
  *margin-top:-210px;
  width:196px; 
  text-align:left; 
  
  margin-left:69px;
margin-left:388px\9;
*margin-left:69px; 
_margin-left:69px; 

  display:inline;}
a.login{ display:block; width:78px; height:23px; float:left; text-decoration:none; text-align:center}
a.login1{ display:block; width:78px; height:23px; float:left; margin-left:23px; text-decoration:none; text-align:center}


#gxz {
	width: 100%;
}
#desk_list {position: absolute;
background-image: url(../../images/ntmast/desktop007.png);
background-position:right top;
background-repeat:repeat-y;
left:0;
padding:16px 40px 0 20px;
height:700px;
margin-top:0;
}
.topLine {background-image: url(../../images/ntmast/010.png);}
#desk_list li {
	display: block;
	height: 74px;
	width: 76px;
	text-decoration:none;
	list-style:none;
	
}
#desk_list li a{ text-decoration:none; font-size:12px; color:#000000;}
#desk_list li a img{border:0;}
#desk_list li a:hover img {
	background-image: url(../../images/ntmast/desktopBj01.png);
	text-decoration:none;
	border:0;
}

#desk_list p {
	
	left: 0px;
	top:0px;
	width: 76px;
	margin:-17px 0 10px 0;
	text-align: center;
}
#right_tool {
	float: right;
	width: 159px;
	position: relative;
}
#id {
	background-image: url(../../images/ntmast/desktop002.png);
	height: 42px;
	width: 142px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	color: #6a7179;
	line-height: 150%;
	padding-top: 7px;
	left: 10px;
}
#tool {
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 159px;
	z-index: 100;
}
#tool_bj {
	background-image: url(../../images/ntmast/desktop001.png);
	height: 660px;
	width: 159px;
	position: absolute;
	z-index: 1;
}
#information_list {
	width: 149px;
	margin:0;
	background-image: url(../../images/ntmast/desktop006.png);
	padding:5px 0 4px 0;
}
#information_list li {
	height: 25px;
	width: 149px;
	position: relative;
	margin:0 0 1px 0;
	padding:0;
	list-style:none;
}
#information_list li p {
	position: absolute;
	left: 25px;
	top: 6px;
	width: 120px;
	text-align: left;
	color: #eee;
	font-size:12px;
	margin:0;
}
#information_list li a {
	color: #F60;
}
.rightMenu {
	width: 168px;
	position: absolute;
	left: 225px;
	top: 33px;
	display: none;
	z-index: 100;
}
.rm_top {
	background-image: url(../../images/ntmast/rightMenu01.png);
	_background-image: url(../../images/ntmast/rightMenu01.gif);
	display: block;
	height: 9px;
	width: 168px;
}
.rm_footer {
	background-image: url(../../images/ntmast/rightMenu03.png);
	_background-image: url(../../images/ntmast/rightMenu03.gif);
	display: block;
	height: 12px;
	width: 168px;
}
.rightMenu ul {
	background-image: url(../../images/ntmast/rightMenu02.png);
	_background-image: url(../../images/ntmast/rightMenu02.gif);
	background-repeat: repeat-y;
	display: block;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	_margin-top: -3px;
}
.rightMenu ul li {
	height: 22px;
	width: 156px;
}
.rightMenu ul li a {
	display: block;
	height: 17px;
	width: 123px;
	padding-left: 33px;
	position: relative;
	padding-top: 5px;
	color: #000;
}
.rightMenu li a:hover {
	background-image: url(../../images/ntmast/rightMenu04.gif);
}
.rightMenu li a img{
	position: absolute;
	left: 5px;
	top: 4px;
}
.rightMenu ul .rm_line {
	height: 12px;
	background-image: url(../../images/ntmast/rightMenu06.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

#date {
	background-image: url(../../images/ntmast/desktop004.png);
	height: 113px;
	width: 147px;
	margin-right: auto;
	margin-left: auto;
	color: #FFF;
	padding-top: 25px;
	padding-bottom:10px;
}
#date b {
	font-size: 70px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: normal;
	line-height: 65px;
	margin:0;
	 padding:0;
}
#date p {
	line-height: 20px;margin:0;
	 padding:0;
	 font-size:12px;
}
.tuichu {float:right; font-size:12px; padding-right:30px;padding-top:30px}
.tuichu img{ width:15px; height:15px;}
.tuichu a{ text-decoration:none; color:#000000}
.tuichu a:hover{ text-decoration:underline; color:#FF0000}
.startBtn1 { padding:5px 0 0 8px}
.startBtn1 a.startBtn{ background-image: url(../../images/ntmast/003.jpg); width:75px; height:23px; display:block}
.startBtn1 a.startBtn:hover{ background-repeat:no-repeat; background-position:left -23px;}
a.blueLink { text-decoration:none; color:#2D568E }
a.blueLink:link{ text-decoration:none; color:#2D568E }
a.blueLink:hover{ text-decoration:underline; color:#FF0000 }
.logo { background-image:url(../../images/ntmast/009.png); width:267px; height:57px; margin-left:20px}
.BtnCss { height:42px; margin-bottom:1px;}
.BtnCss td{
	height:42px;
	width:92px;
	font-size:14px;
	font-weight:bold;
color:#ffffff;
	text-align:center;
	cursor:hand;
	filter: Glow(Color=#000000, Strength=1);
}
.BtnCss td a{ text-decoration:none; color:#ffffff;}
.BtnCss .select{
	background-image:url(../../images/ntmast/003.png);
	height:42px;
	width:92px;
	filter: Glow(Color=#ffffff, Strength=1);
	color:#000000;
}

.BtnCss .line { width:2px; background-image:url(../../images/ntmast/004.png); background-repeat:no-repeat; background-position:left center}
.title { background-image:url(../../images/ntmast/017.jpg); height:20px; padding-top:7px; line-height:20px; color:#ffffff; padding-left:10px; font-weight:bold}
.treeBox { border-top:1px solid #D0D0D0; width:163px; margin:auto; border-left:1px solid #D0D0D0; background-color:#FFFFFF; padding:8px 0 4px 8px}
.rightL { background-image:url(../../images/ntmast/018.jpg); background-repeat:repeat-y; background-position:left top; height:100%}
.rightR { background-image:url(../../images/ntmast/019.jpg); background-repeat:repeat-y; background-position:right top; height:100%}
.bj1 { background-image:url(../../images/ntmast/020.jpg); background-repeat:no-repeat; background-position:center bottom}
.title1 { background-image:url(../../images/ntmast/021.jpg); height:28px; border-left:1px solid #B6C9DE; border-right:1px solid #B6C9DE; color:#001C3A; padding:0 0 0 10px; font-weight:bold;}
.title2 { background-image:url(../../images/ntmast/023.jpg); height:28px; border-left:1px solid #B6C9DE; border-right:1px solid #B6C9DE; color:#001C3A; padding:0 0 0 10px; font-weight:bold;}
.input { background-image:url(../../images/ntmast/022.jpg); border-top:1px solid #8A9FBC; border-left:1px solid #8A9FBC; border-right:1px solid #D5E0F0; border-bottom:1px solid #D5E0F0; width:120px; height:17px; line-height:17px; }
.inputCss {border-top:1px solid #ffffff; border-left:1px solid #ffffff; border-right:1px solid #ffffff; border-bottom:1px solid #93B3D8; width:120px; height:17px; line-height:17px; background-color:#FFFFFF; overflow:hidden;}
.btnDiv a.btn { background-image:url(../../images/ntmast/03.gif); width:62px; height:18px; text-align:center; display:block; text-decoration:none; color:#000000; padding-top:5px}
.btnDiv a.btn:hover { text-decoration:none; color:#ff0000}

.btnDivCss a.btnCss { background-image:url(../../images/ntmast/06.gif); background-repeat:no-repeat; background-position:left top; height:23px;  display:block; text-decoration:none; color:#000000; }
.btnDivCss a.btnCss p{ background-image:url(../../images/ntmast/07.gif); background-repeat:no-repeat; background-position:right top; height:18px; text-align:center; color:#000000; padding:5px 14px 0 14px; margin:0;}
.btnDivCss a.btnCss:hover { text-decoration:none; color:#ff0000}
.btnDivCss a.btnCss:hover p{ text-decoration:none; color:#ff0000;}

.btnDivCss1 a.btnCss1 { background-image:url(../../images/ntmast/08.gif); background-repeat:no-repeat; background-position:left top; height:20px;  display:block; text-decoration:none; color:#003988; float:left }
.btnDivCss1 a.btnCss1 p{ background-image:url(../../images/ntmast/09.gif); background-repeat:no-repeat; background-position:right top; height:16px; text-align:center; color:#003988; padding:4px 10px 0 10px; margin:0; float:left }
.btnDivCss1 a.btnCss1:hover { text-decoration:none; color:#ff0000}
.btnDivCss1 a.btnCss1:hover p{ text-decoration:none; color:#ff0000;}

.tabCss { margin:0 6px; border-right:1px solid #BBD1F2; background-color:#F6F9FF;}
.tabCss td{ text-align:center; line-height:24px; height:24px;}
.tabTitle { background-image:url(../../images/ntmast/024.jpg); border:1px solid #BBD1F2; border-top:none; border-right:none}
.tabTd {  border-bottom:1px solid #DBE4FB; color:#003988; background-color:#FFFFFF}
.tabNumBj { background-image:url(../../images/ntmast/025.jpg); width:23px; color:#666;border-left:1px solid #BBD1F2;}
a.BtnBj {background-image: url(../../images/ntmast/05.gif); background-repeat:no-repeat; background-position:left center; text-decoration:none; padding-left:15px; color:#ff0000}
a.BtnBj:hover {background-image: url(../../images/ntmast/05.gif); background-repeat:no-repeat; background-position:left center; text-decoration:underline; padding-left:15px; color:#ff0000}
a.Btnsc {background-image: url(../../images/ntmast/04.gif); background-repeat:no-repeat; background-position:left center; text-decoration:none; padding-left:15px; color:#ff0000}
a.Btnsc:hover{background-image: url(../../images/ntmast/04.gif); background-repeat:no-repeat; background-position:left center; text-decoration:underline; padding-left:15px; color:#ff0000}
.tabLine { border-left:1px solid #BBD1F2}
.tabAlign td{ text-align: justify; padding-left:8px}
.tabBg { background-color:#EEF3FD; text-align:right; color:#000000}
.pages { background-color:#F6F9FF; height:35px}
.pages div{ height:30px; text-align:right; color:#000000; padding-top:5px; padding-right:8px}
.pages div span { font-weight:bold; padding:0 10px; color:#003988}

.tinytree,.tinytree ul {

	color:#000000;
	padding: 0;
	margin: 0;
	list-style: none;
}

.tinytree div.hitarea {
	height: 16px;
	width: 15px;
	margin-left:-15px;
	float: left;
	cursor: pointer;
}
.seachBox{margin:0 6px; border-left:1px solid #BBD1F2; border-right:1px solid #BBD1F2; background-color:#F6F9FF; padding:20px 15px}

/* fix for IE6 */
* html div.hitarea {
	background: #fff;
	filter: alpha(opacity =   0);
	display: inline;
	float: none;
}

.tinytree li {
	margin: 0;
	padding: 3px 0px 3px 0px;
}

.tinytree li a {
	font-size: 12px;
	color:#000000;
	text-decoration:none;
	padding:0 4px;
}

.tinytree li a.selected {
	
	color: #ffffff; 
background:#3174C5; 
text-decoration:none;
padding:0 4px;
}

.tinytree li a:hover {
	color: #0051A5;
	cursor: pointer;
	text-decoration:underline;
}

.tinytree li {
	background: url(../../images/ntmast/tv-item.gif) 0 0 no-repeat;
	
}

.tinytree .collapsable {
	background-image: url(../../images/ntmast/tv-collapsable.gif);
	padding-left:18px;
	padding-left:18px!important;
	*padding-left:15px;
	
}

.tinytree .expandable {
	background-image: url(../../images/ntmast/tv-expandable.gif);
	padding-left:18px;
	padding-left:18px!important;
	*padding-left:15px;
	
}

.tinytree .last {
	background-image: url(../../images/ntmast/tv-item-last.gif);
	padding-left:18px;
}

.tinytree .lastCollapsable {
	background-image: url(../../images/ntmast/tv-collapsable-last.gif);
	padding-left:18px;
	padding-left:18px!important;
	*padding-left:15px;
}

.tinytree .lastExpandable {
	background-image: url(../../images/ntmast/tv-expandable-last.gif);
	padding-left:18px;
	padding-left:18px!important;
	*padding-left:15px;
}

.tinytree .checkbox {
	width: 12px;
	height: 12px;
	align: center;
	valign: middle;
	margin:0;
	margin-right:4px;
	padding:0;
	*margin-right:4px;
}

.tinytree span.openfolder, .tinytree span.closedfolder, .tinytree span.file {
	padding-left: 16px;
	height: 16px;
}

.tinytree span.openfolder {
	background: url(../../images/ntmast/openfolder.gif);
	background-repeat:no-repeat;
	background-position:left -2px;
	*background: url(../../images/ntmast/openfolder.gif) bottom left no-repeat;
}

.tinytree span.closedfolder {
	background: url(../../images/ntmast/closedfolder.gif) bottom left no-repeat;
}
.tinytree span.file {
	background: url(../../images/ntmast/file.gif) 0 0 no-repeat;
}

.tinytree .hiddenNode {
	background: url(../../images/ntmast/invalid.gif) 0 0 no-repeat;
	height: 12px;
	width: 12px;
}
.tinytree .list {
 padding-left:18px;
 padding-left:18px!important;
 *padding-left:15px;
 }
.tinytree .filterText{ font-weight:bold}
.tableCss { line-height:34px;}

.tableCss .tabPL { padding-left:20px; text-align:right;}
.textareaCss {background-image:url(../../images/ntmast/022.jpg); background-repeat:repeat-x; background-position:left top; background-color:#FFFFFF; border-top:1px solid #93B3D8;border-left:1px solid #93B3D8;border-right:1px solid #DEE5EF; border-bottom:1px solid #DEE5EF; height:150px;}
.tabBoxCss {margin:0 15px 12px 15px; background-color:#FFFFFF;border:1px solid #DEE5EF; border-top:none;padding:10px 25px 15px 10px; text-align:center}
.nameIfo {
position:absolute; left:18px; top:6px; height:12px; *overflow:hidden; line-height:12px 
}
.outIfo {position:absolute; RIGHT:14px; top:4px; height:14px; *overflow:hidden; line-height:12px;z-index:2 }


/* ----------下拉框CSS START---------- */
.tm2008style .select_box{
	WIDTH: 102px; HEIGHT: 20px; font-size:12px;
}
/* ----------下拉框现状---------- */
.tm2008style DIV.tag_select {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../../images/ntmast/tm2008-select.gif);
	background-repeat:no-repeat; background-position:right 0px; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 19px; PADDING-TOP: 1px; HEIGHT: 19px; border-left:1px solid #B5BACE;
}
/* ----------下拉框鼠标经过---------- */
.tm2008style DIV.tag_select_hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../../images/ntmast/tm2008-select.gif); background-repeat:no-repeat; background-position:right -22px; PADDING-BOTTOM: 0px;padding-right:20px; COLOR: #000; LINE-HEIGHT: 19px; PADDING-TOP: 1px; HEIGHT: 19px; border-left:1px solid #7BAEDE;
}
/* ----------下拉框鼠标点击状况---------- */
.tm2008style DIV.tag_select_open {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../../images/ntmast/tm2008-select.gif) ;background-repeat:no-repeat; background-position:right -44px; PADDING-BOTTOM: 0px; padding-right:20px; COLOR: #000; LINE-HEIGHT: 19px; PADDING-TOP: 1px; HEIGHT: 19px;border-left:1px solid #7BAEDE;
}
/* ----------下拉框下拉列表样式---------- */
.tm2008style UL.tag_options {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; MARGIN: 0px;  PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute;border:1px solid #7BAAD6; border-top:none; background-color:#FFFFFF;
}
.tm2008style UL.tag_options LI {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; width:100%;COLOR: #000; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-DECORATION: none
}
.tm2008style UL.tag_options LI.open_hover {
	BACKGROUND: url(../../images/ntmast/tm2008-select.gif) no-repeat 0px -88px; COLOR: #000
}
.tm2008style UL.tag_options LI.open_selected {
	BACKGROUND: url(../../images/ntmast/tm2008-select.gif) no-repeat 0px -66px; COLOR: #19555f
}

/* ----------控制下拉框下拉的宽度select_box与tag_options LI之间相差22px---------- */
.selectWidth  .select_box { width:124px;}
.selectWidth UL.tag_options LI { width:102px;}
/* ----------下拉框CSS END---------- */

.Tleft { float:left; padding-top:8px;}
.Tright {float:right; font-weight:normal; font-size:12px; padding:4px 4px 0 0; display:inline}