##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if($disp.isHidden())
    #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel())
    #parse("${standardTemplatePath}/StandardLabel.vm")
#elseif($disp.isReadOnly())
    #parse("${standardTemplatePath}/StandardText.vm")
#else
	<html:label type="text" readonly="true"
     name="$field.getFormName()"
    #if ($disp.isOutValue())
     property="$field.getFormName()"
	#else
     value=""
    #end
    collection="${field.getFormName()}.Collection" labelProperty="Name" labelKey="ID"
	size="$field.getLength()" maxlength="$field.getMaxLength()"
  #if ($field.hasTip())
		     title="$field.getTip()"
  #end
  #if ($disp.isReadOnly())
		      readonly="true"  styleClass="txtReadOnly"
  #end
  />
  <img src="skins/default/images/liulan.gif" width="28" style="cursor:hand" height="16" border="0" onclick="${field.getFormName()}_select_BspStru_Dialog()">
  #if ($disp.isMandatory()&&!$disp.isReadOnly())
  <font color="#FF0000">*</font>
  #end
   <script language="javascript">
     function ${field.getFormName()}_select_BspStru_Dialog(){
       var cmdUrl ="$ref.getImplUrl()";
       var url ="jsp/help.jsp?url="+cmdUrl;
       var win = showModalDialog(url,window,"scroll:yes;status:no;dialogWidth:500px;dialogHeight:550px");
       if (win == null) {
         return;
       }else{
       		document.forms[0].$field.getFormName().value=win[0];
       		document.forms[0].$field.getFormName().fireEvent("onchange");
       		document.forms[0].$field.getFormName()._TEXT.value=win[1];
       		document.forms[0].$field.getFormName()._TEXT.fireEvent("onchange");
        $ref.setChangeFieldsValue($field)
       }
   }
   </script> 
#end