##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if($disp.isHidden())
    #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel()||$disp.isReadOnly())
    #if($ref.getFileSaveType()=="DB")
	<iframe id="${field.getFormName()}_iframe" width="0" style="display:none"></iframe>
    <a href="javascript:"${field.getFormName()}_FileDownload()">点击查看/下载</a>
    <script language="javascript">
        function ${field.getFormName()}_FileDownload(){
          var window_name=document.forms[0].window_name.value;
          var primaryKey="";
          var primaryKeyObject=document.forms[0].primaryKey;
          if (primaryKeyObject) primaryKey=primaryKeyObject.value;
          var file_iframe=document.getElementById('${field.getFormName()}_iframe');
          file_iframe.src="mofexec.cmd?method=fileDownload&window_name="+window_name+"&type=file&primaryKey="+primaryKey+"&form_name=$field.getFormName();
    </script>
	#else
		<a href="${ref.getFilePath()}/<html:value property='$field.getFormName()'/>" onclick="javascript:if(this.href.charAt(this.href.length-1)=='/') {alert('文件不存在！');return false;}">点击查看/下载</a>
	#end
#elseif($disp.isSearch())
    <html:text name="$field.getFormName()" property="$filed.getFormName()" />
#else
	<html:file name="$field.getFormName()"
	#if ($disp.isOutValue())
      property="$field.getFormName()"
    #else
      value=""
	#end
	  size="$field.getLength()"
	#if ($disp.hasChangedField()||$disp.hasLimitField())
      onchange="${field.getFormName()}_change()"
	#end
    />
    #if ($disp.isMandatory()&&!$disp.isReadOnly())
	  <font color="#FF0000">*</font>
	#end
	#if ($disp.hasChangedField())
	  $ref.getChangeScript($field,$field.getChangeField())
	#end
	  $ref.getCustomEvent($field,$ref.hasDisplayTextField())
#end