##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if($disp.isHidden())
    #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel())
    #parse("${standardTemplatePath}/StandardCollectionLabel.vm")
#else
	<help:helpsearch	name="$field.getFormName()" size="$field.getLength()"
          helpid="$ref.getHelpNo($field)"
	#if($disp.isOutValue())
          property="$field.getFormName()"
    #else
          value=""
    #end
          imgsrc="skins/default/images/liulan.gif"
    #if ($disp.isReadOnly())
          readonly="true"
	#end
	#if ($disp.hasChangedField())
		$ref.ChangedField($field,$field.getChangeField())
	#end
	 script="$ref.getHelpScript($field,true)"
	#if($disp.hasLimitField())
		onchange="${field.getFormName()}_change()"
	#end
	 />
    #if ($disp.isMandatory()&&!$disp.isReadOnly())
          <font color="#FF0000">*</font>
	#end
	#if ($disp.hasChangedField())

	#elseif($disp.hasLimitField())
		$ref.getFillInvokeScript($field,$field.getLimitFields(),false)
	#end
	$ref.getCustomEvent($field,$ref.hasDisplayTextField())
#end	