##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if($disp.isHidden())
    #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel())
    #parse("${standardTemplatePath}/StandardLabel.vm")
#elseif ($disp.isReadOnly())
    #parse("${standardTemplatePath}/StandardText.vm")
#else
	#set($v_format="yyyy-MM-dd hh:mm")
	#if($field.getVFormat()!="")
		#set($v_format=$field.getVFormat())
	#end
	<date:date name="$field.getFormName()" divname="${field.getFormName()}_div" hastime="true"
	#if ($disp.isOutValue()) 
		property="$field.getFormName()"
    #else
	    value=""
    #end
	#set($zindex=65535-$field.getSeqNo())
	   zindex="$zindex" sourceFormat="$v_format" targetFormat="$v_format" position="relative"
	#if ($disp.hasChangedField())
	   onchange="${field.getFormName()}_change()"
    #end
		/>
##因为日期组件的按钮比行高要大，所以为了美化期间在其后附加一个域
	#set($vis_size=4+$v_format.length())
    <input size="$vis_size" style="visibility:hidden"/>
    #if ($disp.isMandatory())
         <font color="#FF0000">*</font>
	#end
    #if ($disp.hasChangedField())
		$ref.getChangeScript($field,$field.getChangeField())
	#end
    $ref.getCustomEvent($field,$ref.hasDisplayTextField())
#end	