##可以使用的变量$field,$disp,$ref
#set ($ref=$field.getMofReference()) 
#if($disp.isHidden())
    #parse("${standardTemplatePath}/StandardHidden.vm")
#elseif ($disp.isLabel())
    #parse("${standardTemplatePath}/StandardCollectionLabel.vm")
#elseif ($disp.isReadOnly())
    #parse("${standardTemplatePath}/StandardCollectionText.vm")
#else
	<help:helpselect blank="true" name="$field.getFormName()" helpid="$ref.getHelpNo($field)"
	#if($disp.isOutValue())
        property="$field.getFormName()"
    #else
          value=""
    #end
	#if ($disp.isReadOnly())
		readonly="true"
	#end
	#if ($disp.hasChangedField())
		$ref.ChangedField($field,$field.getChangeField())
	#end
		fillData="${field.getFormName()}_fillData"
		script="$ref.getHelpScript($field,true)" 
	#if($disp.hasLimitField())
		onchange="${field.getFormName()}_change()"
	#end
	#if ($disp.isSearch())
		isinit="true"
	#else
		isinit="false"
	#end
	/>
	#if ($disp.isMandatory())
		<font color="#FF0000">*</font>
	#end
	#if ($disp.hasChangedField())

	#elseif($disp.hasLimitField())
		$ref.getFillInvokeScript($field,$field.getLimitFields(),false)
	#end
	$ref.getCustomEvent($field,$ref.hasDisplayTextField())
#end