.logintext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #201A5C;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
a.midlinks:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
    color: #FFFFFF;
    text-decoration:none
}
a.midlinks:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
    color: #FFFFFF;
    text-decoration:underline
}
a.midlinks:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
    color: #FFFFFF;
    text-decoration:none
}
/*a:link {*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-size: 10px;*/
	/*font-weight: normal;*/
    /*color: #FFFFFF;*/
/*}*/
/*a:hover {*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-size: 10px;*/
	/*font-weight: normal;*/
	/*color: #FF9900;*/
/*}*/
/*a:visited {*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-size: 10px;*/
	/*font-weight: normal;*/
	/*color: #ffffff;*/
/*}*/
a.toplinks:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
	text-decoration:none
}
a.toplinks:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FF9900;
	text-decoration:underline
}
a.toplinks:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #ffffff;
    text-decoration:none
}
#layer1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #Ffffff;
	width:180px;
	height:220px;
	z-index:1;
	left: 870px;
	top: 180px;
	padding: 3px;
}
.POPFORMINSTRUCTIONS
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    TEXT-ALIGN: left
}
.POPFORMBODY
{
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.POPFORMBUTTONS
{
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: center
}
.POPFORMBORDER
{
    BACKGROUND-COLOR: #b5b4b4
}

.ERRORMSG
{
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    COLOR: #ce3131;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left
}
.WARNINGMSG
{
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    COLOR: #ce3131;
    FONT-FAMILY: arial, helvetica, sans-serif;
	TEXT-ALIGN: left
}
.STRONGMSG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: red;
    FONT-FAMILY: arial, helvetica, sans-serif;
}
.STATUS_MESSAGE
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: navy;
    FONT-FAMILY: arial, helvetica, sans-serif;
}
.DIRECTIONS
{
    FONT-SIZE: 9pt;
    MARGIN: 10px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    TEXT-ALIGN: left
}
.POPFORMHIGH
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: right
}
.POPFORMHEADTITLE
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #000000
}
.POPFORMHEAD
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #666666
}
.LFT_POPFORMHEADTITLE
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #b5b4b4;
    TEXT-ALIGN: left
}
.CTR_POPFORMHEADTITLE
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #b5b4b4;
    TEXT-ALIGN: center
}
.RGT_POPFORMHEADTITLE
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #b5b4b4;
    TEXT-ALIGN: right
}
.MATRIXHEADER
{
    TEXT-DECORATION:none;
	COLOR:black;
	FONT-WEIGHT:bold;
	FONT-SIZE:11pt;
	TEXT-ALIGN:center;
	BACKGROUND-COLOR: #CED3EF  ;
}
.MATRIXHEADERTIP
{
	POSITION:absolute;
	VISIBILITY:hidden;
	TEXT-DECORATION:none;
	COLOR:black;
	BACKGROUND:#FF66CC;
	FONT-WEIGHT:normal
}
.POPFORMLABEL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: right
}
.POPFORMLABELCOLUMN
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: left
}
.POPFORMLABELLEFT
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: left
}
.POPFORMFIELD
{
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: white
}
.POPFORMFIELDNUMERIC
{
    FONT-SIZE: 11px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: white;
	TEXT-ALIGN: right
}
.POPFORMRULE
{
    BACKGROUND-COLOR: #b5b4b4
}

.POPFORMTITLE
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}

.POPFORMSPACER
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #D5D5D5;
    TEXT-ALIGN: left
}

.POPFORMDATA
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    BACKGROUND-COLOR: #dedede
}
.POPFORMINSTRUCTIONS
{
    FONT-SIZE: 10px;
    FONT-FAMILY: arial, helvetica, sans-serif;
    TEXT-ALIGN: left
}
.POPFORMTITLE_HILITE
{
 	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana, arial, helvetica;
	BACKGROUND-COLOR: #e6e6e6;
	TEXT-ALIGN: left ;
	color: #003366
}
.POPFORMTITLE_RIGHT
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana, arial, helvetica;
	BACKGROUND-COLOR: #e6e6e6;
	TEXT-ALIGN: right
}
.POPFORMTITLE_HILITE_RIGHT
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana, arial, helvetica;
	BACKGROUND-COLOR: #e6e6e6;
	TEXT-ALIGN: left ; color: #990000
}
