#set ($pageType="insert")
#set ($border=1)
	#if( $tab.getCurrentTabCount() > 1)
		#set ($border=0)
	<fieldset id="fieldset_${tab.Name}" style="padding: 2">
		<legend id="legend_${tab.Name}">${tab.Description}</legend>
	#end
	
##设置此Tab的表单域的总宽度，为绝对值,如果为空则取100%
#set($tab_width =($tab.getWidth()))
#if($tab.getWidth()>0)
	#set($tab_width =($tab.getWidth()))
#else
	#set($tab_width ="100%")
#end
##获取页面布局设置
#set($tab_layout=($tab.getTabLayout()))
##输出页面展现
	<table width="$tab_width" onkeydown="doMofFormKeyDown()" cellpadding="0" class="tblContent" style="border:${border}px solid #000000">
	<tr>	
	#set ($index=0)
	#foreach( $field in $tab.Fields )
		#set ($disp=$field.getDisplayControl($pageType))
		#if($field.isDisplay())
			#if($field.isSameLine()==false && $index != 0)
	</tr>
	<tr>
			#end
			#set ($index=1)
			#set ($rowspan=$field.getRowSpan())	
			#if($field.getIsTitle())
		<td class="tdTitle" width="$tab_layout.get('title')%" rowspan="$rowspan">${field.Description}：</td> 
			#end
		#set ($colspan=$field.getColSpan() )	
			#if($useRefTemplate)
			<td class="tdRight" width="$tab_layout.get('field')%" align="left" nowrap colspan="$colspan" rowspan="$rowspan">#parse(${field.getInputJSPTemplate($pageType)})</td>
			#else
			<td class="tdRight" width="$tab_layout.get('field')%" align="left" nowrap colspan="$colspan" rowspan="$rowspan">${field.outInsertJSP()}</td>
			#end
		#else
			#if($useRefTemplate)
			#parse(${field.getInputJSPTemplate($pageType)})
			#else
			${field.outInsertJSP()}
			#end
		#end
	#end
	</tr>	
	</table>
	#if( $tab.getCurrentTabCount() > 1)
	</fieldset>	
	#end